.articlelist {
  border-top: 1px solid rgba(0,0,0,.25);
  display: flex;
  grid-column: span 12;
  padding: 24px 0;
  width: 100%;
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  min-height: 140px;
  align-items: center;
  position: relative;
  a{
    color: var(--interaction);
  }
  &:hover .articlelist-title::after{
    transition: all 0.2s ease 0s;
    right: -16px;
    opacity: 1;
  }
}

.articlelist-title{
  width: 25%;
  position: relative;
  &::after{
    content: "→";
    font-weight: 600;
    font-size: 38px;
    margin: 0px 0px 0px 8px;
    transition: all 0.2s ease 0s;
    position: absolute;
    right: 0px;
    opacity: 0;
    cursor: pointer;
    top: 0px;
  }
}
.articlelist-description{
  width: 60%;
  margin-left: 5%;
}
.articlelist-link{
  flex: 1 1;
  width: auto;
  text-align: right;
  position: relative;
}

.articlelist-title .badge {
  margin-bottom: 12px;
  display: inline-block;
  padding: 0 8px;
}

.articlelist .like {
    top: 24px;
    right: 0px;
}

.articlelist {
  @media (max-width: $breakpoint-m) {
    display: block;
  }
}
.articlelist-title{
  @media (max-width: $breakpoint-m) {
    width: 100%;
  }
}
.articlelist-description{
  @media (max-width: $breakpoint-m) {
    width: 100%;
    margin-left: 0%;
  }
}
.articlelist-link{
  @media (max-width: $breakpoint-m) {
    margin-top: 16px;
    text-align: left;
  }
}
