a{
  color: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  background: transparent;
}
.arrow{
  font-weight: bold;
  &::after {
      content: "→";
      font-weight: lighter;
      margin: 0px 0px 0px 8px;
      transition: margin 0.2s ease 0s;
  }
  &:hover::after {
    margin-left: 12px;
  }
}
.link{
  color: var(--interaction);
  transition: all 0.2s ease 0s;
  &:hover {
    color: hsla(240, 100%, 30%, 1);
    transition: all 0.2s ease 0s;
    svg, path {
      fill: hsla(240, 100%, 30%, 1);
    }
  }
  svg, path {
    fill: var(--interaction);
  }
}
.link-inverted{
  color: var(--body-type);
  &:hover {
    color: var(--interaction);
    text-decoration: underline!important;
  }
}


.button {
    text-align: center;
    height: 48px;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--dark-green);
    border-width: 0;
    border-style: solid;
    border-radius: 2px;
    opacity: 1;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
    transition: all 0.2s ease 0s;
    min-width: 180px;
    &:hover {
        background-color: darken(#03363d, 10%);
        transition: all 0.2s ease 0s;
    }
}

.button-small{
    padding: 8px 16px;
    height: 32px;
    line-height: 14px;
    min-width: auto;
    font-size: 14px;
}

.button.submitbtn{
  background: var(--interaction);
  transition: all 0.2s ease 0s;
  &:hover {
    background: hsla(240, 100%, 30%, 1);
    transition: all 0.2s ease 0s;
  }
}

.button.inline{
  width: 100%;
}



.button-outline{
  transition: all 0.2s ease 0s;
  border: 2px solid var(--dark-green);
  color: var(--dark-green);
  background: none;
  border-style: solid;
  &:hover{
    background-color: var(--dark-green);
    color:#fff;
  }
}

.button:disabled, .button:disabled:hover{
    background: var(--grey-soft);
    color: var(--grey);
    cursor: not-allowed;
}
