
.lines{
  position: absolute;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  right: -100px;
  bottom: 0px;
  z-index: -1;
  top: 0;
}
.grid-card {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 120px;
}

.card:first-of-type {
  grid-column: 1/span 6;
  grid-row: 1/span 2;
  order: 1;
}

.card {
  display: flex;
  margin: 20px;
  color: var(--black);
  border-radius: 3px;
  transition: .2s ease-out;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  transform-origin: 0 50%;
  transform: perspective(1000px) rotateY(0deg) translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform,box-shadow;
  width: 284px;
  height: 410px;
  max-height: calc(110vw - 40px);
  background-size: cover;
  background-position: center top;
}

.card:hover {
  transform: perspective(1000px) rotateY(-10deg) translate3d(-3px, 0, 0);
  transform-origin: 0 50%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.card-content {
  transition: .2s ease-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .2s ease-out;
  padding: 24px;
  background-color: var(--default-color);//default bg color
}

.card-content:hover {
  transition: .2s ease-out;
  opacity: 1;
}

.card-title {
  text-transform: capitalize;
  margin: 8px 0;
}

.card-topics {
  margin-top: 16px;
  font-size: 14px;
  a{
    margin-right: 6px;
    &:hover{
      text-decoration: underline;
    }
  }
}

.card-contributor {
  bottom: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contributor-image{
  width: 32px;
  margin-right: 8px;
}
.contributor-name{
  font-size: 14px;
  font-weight: 500;
}
.contributor-description{
  font-size: 13px;
  font-weight: 100;
}

.badge {
  padding: 2px 8px;
  border-radius: 4px;
  background-color: var(--soft_blue);
  color: var(--black);
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
  display: inline;
}
