.GridColection{
  background: var(--soft-brown-bg);
  padding: 80px 0;
  position: relative;
}
.GridColection::before{
  top: -18px;
  transform: rotate(180deg);
}
.GridColection::after{
    bottom: -18px;
}
.GridColection::before,
.GridColection::after{
  content: "";
  position: absolute;
  background-color: inherit;
  height: 18px;
  left: -3vw;
  -webkit-mask-image: url(/img/texture.svg);
  mask-image: url(/img/texture.svg);
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
  width: 150%;
  z-index: -1;
}

.collection-card {
  height: 300px;
  border-radius: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  background-color: #f9f9f9;
  transition: all .2s ease;
  background-size: auto;
  padding: 56px 10% 0;
  position: relative;
  &:hover {
    transform: scale(1.03);
    transition: all .2s ease;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  }
  @media (max-width: $breakpoint-m) {
    height: 200px;
    padding: 24px;
  }
}
.collection-card__title-container{
  height: 50%;
}
.collection-card__title {
  font-weight: 700;
  &:first-letter {
    text-transform: uppercase;
  }
}
.collection-card__number {
    position: absolute;
    bottom: 32px;
    @media (max-width: $breakpoint-m) {
      bottom: 24px;
    }
}

.collection-card:first-of-type{
  background-image: url(/img/line-4.svg), url(/img/dot-2.svg);
  background-size: auto, 60%;
  background-position: center, -40% -100%;
}
.collection-card:nth-of-type(2){
  background-image: url(/img/line-2.svg), url(/img/dot-3.svg);
  background-size: cover;
}
.collection-card:nth-of-type(3){
  background-image: url(/img/line.svg), url(/img/line.svg), url(/img/dot-1.svg);
  background-size: auto,cover, 120%;
  background-position: center, bottom, -100%;
}
.collection-card:nth-of-type(4){
  background-image: url(/img/line-2.svg), url(/img/dot-6.svg);
  background-size: auto, 30%;
  background-position: center,bottom;
}
.collection-card:nth-of-type(5){
  background-image: url(/img/line-3.svg), url(/img/dot-5.svg);
  background-size: cover, 90%;
  background-position: center, 30% -50%;
}


/*
HERO HEADER
*/
.is-colecciones .title-block:nth-of-type(1){
  //min-height: 340px;
}
.is-colecciones .GridCard .grid{
    background: #fff;
    padding-top: 60px;
}
.is-colecciones::after {
    content: '';
    width: 40vw;
    left: 60%;
    position: absolute;
    top: 0px;
    height: 480px;
    padding-top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    z-index: -1;
}

.is-mantenerse_en_forma::after{
  background-image: url(https://images.unsplash.com/photo-1580475442877-f2831931fc51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
}
.is-futuros::after{
  background-image: url(https://images.unsplash.com/photo-1551727974-8af20a3322f1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);

}
