.footer {
  width: 100%;
  padding: 40px 0px;
  background: var(--black);
  color: #fff;
}
.footer .container{
  max-width: 800px;
}
.footnote{
  font-size: 14px;
  -webkit-letter-spacing: 0.02em;
  -moz-letter-spacing: 0.02em;
  -ms-letter-spacing: 0.02em;
  letter-spacing: 0.02em;
  line-height: 1.4;
}
