.footer {
  width: 100%;
  padding: 0 40px;
  margin-top: 80px;
  padding-top: 80px;
  min-height: 300px;
}

.footnote{
  font-size: 14px;
  font-family: Graphik, Helvetica, Arial, sans-serif;
  font-weight: bold;
  -webkit-letter-spacing: 0.02em;
  -moz-letter-spacing: 0.02em;
  -ms-letter-spacing: 0.02em;
  letter-spacing: 0.02em;
  line-height: 1.4;
}
