input,
select,
textarea{
    background: #fcfdfd;
    border-radius: 3px;
    border: 1px solid rgba(3,54,61,.25);
    box-shadow: none;
    color: var(--dark-green);
    font-size: 14px;
    height: 50px;
    padding: 0 20px;
    width: 100%;
    margin-bottom: 16px;
    position: relative;
    -moz-appearance: none;
	  -webkit-appearance: none;
	  appearance: none;
}
label, .field-label {
  font-size: 13px;
  color: var(--dark-green);
}
textarea{
  height: 104px;
  padding-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}
input,select,textarea, option{
  &::first-letter{
    text-transform: uppercase;
  }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


select option{ color: var(--dark-green); }
::placeholder, :disabled{ color: var(--grey-soft); }

select{
  cursor: pointer;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 8px);
  background-position-y: 50%;
  background-image: url("data:image/svg+xml;utf8, <svg height='10' width='10' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M12 19.5L.66 8.29c-.88-.86-.88-2.27 0-3.14.88-.87 2.3-.87 3.18 0L12 13.21l8.16-8.06c.88-.87 2.3-.87 3.18 0 .88.87.88 2.28 0 3.14L12 19.5z'></path></svg>");
}



/* Customize the label (the checkbox) */
.checkbox {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  user-select: none;
  line-height: 18px;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: rgb(252, 253, 253);
  border: 1px solid rgb(190, 203, 204);
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: var(--border);
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: var(--interaction);
  border-color: var(--interaction);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
