.header {
  width: 100%;
  position: relative;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 30px 40px 16px 40px;
  margin: 0 auto;
  z-index: 100;
  position: absolute;
  @media (max-width: $breakpoint-m) {
    padding: 0px;
  }
}
.nav{
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  padding-top: 8px;
}

.menu li {
    display: inline-block;
    margin: 0 12px;
    cursor: pointer;
    position: relative;
    height: 40px;
    vertical-align: top;
    &:first-child{
        margin-left: 0;
    }
    div, a{
      vertical-align: top;
      display: inline-block;
    }
}
.chevron {
    width: 10px;
    display: block;
    fill: rgb(66, 66, 65);
    flex-shrink: 0;
    backface-visibility: hidden;
    margin-left: 4px;
    margin-top: 1px;
    display: inline-block;
    margin-left: 8px;
}

div#dropdown-categorias {
  opacity: 0;
  pointer-events: none;
}
div#dropdown-temas {
  opacity: 0;
  pointer-events: none;
}

li#menuitem-categorias.hoverstate{
  div#dropdown-categorias {
    opacity: 1;
    pointer-events: all;
  }
}
li#menuitem-temas.hoverstate{
  div#dropdown-temas {
    opacity: 1;
    pointer-events: all;
  }
}

.drop-overlay{
    position: absolute;
    width: 200px;
    background: #fff;
    padding: 12px 0;
    border-radius: 2px;
    box-shadow: 0px 2px 6px 0px #00000014;
    top: 32px;
    left: 0;
    z-index: 10000;
    border: 1px solid #ececec;
    -webkit-transition: all 120ms ease-in 0s;
    transition: all 120ms ease-in 0s;
    li {
        cursor: pointer;
        list-style: none;
        height: 24px;
        padding: 4px 16px 24px 16px;
        font-weight: 500;
        font-size: 15px;
        display: block;
        margin: 0;
        &:hover{
            background-color: #ececec;
        }
    }
    a {
        display: inline-block;
        width: 100%;
    }
}

.favlink a{
    background: var(--dark-green);
    color: #fff;
    padding: 4px 12px;
    margin-top: -4px;
    border-radius: 4px;
    &:hover{

    }
}







.form{
  display: inline-block;
  float: right;
}

.email-form {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.email-form__input {
  width: 100%;
  outline: 0;
  border: 2px solid;
  color: var(--dark-green);
  border-radius: 6px 0px 0px 6px;
  font-size: 14px;
  line-height: unset;
  padding: 6px 14px;
  min-width: 240px;
  height: 34px;
}
.email-form__submit {
  min-width: 186px;
  background-color: var(--dark-green);
  border: 2px solid var(--dark-green);
  color: #fff;
  display: inline-block;
  border-radius: 0 6px 6px 0;
  padding: 9px 21px;
  text-decoration: none;
  text-align: center;
  transition: all .2s;
  cursor: pointer;
  flex-shrink: 0;
  font-weight: 700;
  position: relative;
  height: 34px;
  font-size: 14px;
  line-height: 0;
}
