.icon-white, .icon-white svg, .icon-white path{
  fill:#fff;
  stroke:#fff;
}

.icon-grey, .icon-grey svg, .icon-grey path{
  fill:var(--grey);
  fill:var(--grey);
}
.icon-interaction, .icon-interaction svg, .icon-interaction path{
  fill:var(--interaction);
  fill:var(--interaction);
}

.icon-16{
  width: 16px;
  height: 16px;
}

.icon-24{
  width: 24px;
  height: 24px;
}

.icon-32{
  width: 32px;
  height: 32px;
}

.icon-40{
  width: 40px;
  height: 40px;
}

.back-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
