.icon-white, .icon-white svg, .icon-white path{
  fill:#fff;
  stroke:#fff;
}

.icon-grey, .icon-grey svg, .icon-grey path{
  fill:var(--grey);
  fill:var(--grey);
}

.icon-16{
  width: 16px;
  height: 16px;
}

.icon-24{
  width: 24px;
  height: 24px;
}

.icon-32{
  width: 32px;
  height: 32px;
}

.icon-40{
  width: 40px;
  height: 40px;
}
