button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


.like{
	position: absolute;
	text-align: right;
	top: 12px;
	right: 12px;
	z-index: 1;
	display: inline-block;
}
.likebutton {
	cursor: pointer;
	background: #fff;
	border-radius: 50%;
	display: inline-block;
	transition: .2s;
	font-size: 24px;
	width: 40px;
	height: 40px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-tap-highlight-color: transparent;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
button.likebutton svg {
    pointer-events: none;
}
.is-like-true{
	animation: size .4s;
  color:#ecba6d;
}

.is-like-false{
  color: #aab8c2;
	background: #fff;
	&:hover path {
	    fill: rgb(235, 73, 98);
	}
}


@keyframes size {
  0% {
		transform: scale(0.9);
		font-size: 12px;
	}
  50% {transform: scale(1.2)}
  100% {
		transform: scale(1);
		font-size: 24px;
	}
}
