.loader-container{
  min-height: 400px;
  padding-top: 80px;
  width: 100%;
  grid-column: span 12;
  .rotating {
      animation: rotating 2s linear infinite;
      transform: translate(-10%, -10%) skewX(-40deg);
      overflow: hidden;
  }
  .rotating-text {
      width: 80px;
      margin: 0 52%;
  }
}
