* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: apercu-pro, "Apercu Pro", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    font-weight: 300;
    color: var(--black);
    -webkit-font-smoothing: antialiased;
}
main{
  position: relative;
  overflow: hidden;
}
.global{
  margin-top: 94px;//header size
  min-height: calc(100vh - 193px);//header+footer size
}

.mt-xl{
  margin-top: 160px;
}
.mt-l{
  margin-top: 80px;
}

.mt-m{
  argin-top: 40px;
}
.mt-s{
  margin-top: 20px;
}
