* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app_wrapper {
  overflow-x: hidden;
  @media (max-width: $breakpoint-m){
    padding-bottom: 60px;
  }
}
body {
    background: var(--background);
}
main{
  position: relative;
  overflow: hidden;
}
.global{
  margin-top: 94px;//header size
  min-height: calc(100vh - 193px);//header+footer size
  @media (max-width: $breakpoint-m){
    margin-top: 32px!important;
    margin-bottom: 0px;
    min-height: 100vh;
  }
}
