.is-temas .PodcastGrid{
  background-image: url(/img/line-3.svg), url(/img/dot-5.svg);
  background-size: contain, 50% 90%;
  background-position: 0%, 30% 10%;
  background-repeat: no-repeat;
  padding: 40px 0;
  background-color: var(--soft-grey-bg);
}

.podcastcard{
  display: flex;
  background: #fff;
  border-radius: 2px;
  padding: 16px;
  align-items: center;
  transition: .2s ease-out;
  position: relative;
  &:hover{
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
    transform: perspective(0px) rotateY(8deg) translate3d(0px, -4px, 0);
    .podcastcard-album-contents {
        opacity: 1;
        transition: .2s ease-out;
    }

  }
  @media (max-width: $breakpoint-m) {
    padding: 12px 12px 48px;
    align-items: center;
  }

}

.podcastcard-album{
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: .2s ease-out;
  min-width: 112px;
  @media (max-width: $breakpoint-m) {
    min-width: 72px;
    border-radius: 50%;
  }
}

.podcastcard-album-contents {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100000;
  position: absolute;
  transition: .2s ease-out;
  background-color: var(--default-color);
  opacity: 0;
  .play {
      width: 30px;
      margin-top: calc(50% - 15px);
      margin: calc(50% - 15px) auto;
  }
}

.podcastcard-album-img {
  width: 112px;
  height: 112px;
  display: block;
  @media (max-width: $breakpoint-m) {
    width: 72px;
    height: 72px;
  }
}

.podcastcard-content{
  margin-left: 24px;
  @media (max-width: $breakpoint-m) {
    margin-left: 16px;
  }
}

.podcastcard-title {
}

.podcastcard-description{
  font-size: 18px;
  @media (max-width: $breakpoint-m) {
    font-size: 14px;
  }
}



.podcastcard .contributor{
  @media (max-width: $breakpoint-m) {
    position: absolute;
    bottom: 12px;
    left: 12px;
  }
}
.podcastcard .contributor-info{
  @media (max-width: $breakpoint-m) {
    display: flex;
    align-items: baseline;
  }
}

.podcastcard .contributor-image {
  @media (max-width: $breakpoint-m) {
    height: 24px;
    margin-right: 8px;
  }
}
.podcastcard .contributor-description {
  @media (max-width: $breakpoint-m) {
    font-size: 13px;
    margin-left: 4px;
  }
}
.podcastcard .like{
  @media (max-width: $breakpoint-m) {
    top: 8px;
    right: 8px;
  }
}
