.tip{
  display: flex;
  align-items: center;
  background: var(--soft-brown-bg);
  padding: 8px;
  cursor: pointer;
  &:hover{
    .random-icon{
      opacity: 1;
    }
  }
}
.tip-icon{
  width: 32px;
  height: 32px;
  background: var(--yellow);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  flex: none;
}
.random-icon{
  margin-left: auto;
  opacity: 0;
  flex: none;
}
