
$breakpoint-m: 48em;
//@media (max-width: $breakpoint-m){}

.no\@m{
  @media (max-width: $breakpoint-m){
    display: none!important;
  }
}
.mt-xl{ margin-top: 160px;}
.mt-l{ margin-top: 80px; }
.mt-m{ margin-top: 40px; }
.mt-s{ margin-top: 20px; }

.mb-xl{ margin-bottom: 160px; }
.mb-l { margin-bottom: 80px; }
.mb-m { margin-bottom: 40px; }
.mb-s { margin-bottom: 20px; }

.pt-xl{ padding-top: 160px;}
.pt-l{ padding-top: 80px; }
.pt-m{ padding-top: 40px; }
.pt-s{ padding-top: 20px; }

.pb-xl{ padding-bottom: 160px; }
.pb-l { padding-bottom: 80px; }
.pb-m { padding-bottom: 40px; }
.pb-s { padding-bottom: 20px; }


.inline {
    display: inline;
    align-items: center;
}
.text-center{
  text-align: center;
}
