$breakpoint-m: 48em;
//@media (max-width: $breakpoint-m){}

.no\@m{
  @media (max-width: $breakpoint-m){
    display: none!important;
  }
}
.no\@dkt{
  @media (min-width: $breakpoint-m){
    display: none!important;
  }
}

//Margins && paddings
.m-xl{ margin: 160px;
  @media (max-width: $breakpoint-m){margin: 32px;}}
.m-l{ margin: 80px;
  @media (max-width: $breakpoint-m){margin: 24px;}}
.m-m{ margin: 40px;
  @media (max-width: $breakpoint-m){margin: 16px;}}
.m-s{ margin: 24px;
  @media (max-width: $breakpoint-m){margin: 8px;}}
.m-xs{ margin: 16px;
  @media (max-width: $breakpoint-m){margin: 6px;}}
.m-xxs{ margin: 8px;
  @media (max-width: $breakpoint-m){margin: 4px;}}

.mt-xl{ margin-top: 160px;
  @media (max-width: $breakpoint-m){margin-top: 32px;}}
.mt-l{ margin-top: 80px;
  @media (max-width: $breakpoint-m){margin-top: 24px;}}
.mt-m{ margin-top: 40px;
  @media (max-width: $breakpoint-m){margin-top: 16px;}}
.mt-s{ margin-top: 24px;
  @media (max-width: $breakpoint-m){margin-top: 8px;}}
.mt-xs{ margin-top: 16px;
  @media (max-width: $breakpoint-m){margin-top: 6px;}}
.mt-xxs{ margin-top: 8px;
  @media (max-width: $breakpoint-m){margin-top: 4px;}}

.mb-xl{ margin-bottom: 160px;
  @media (max-width: $breakpoint-m){margin-bottom: 32px;}}
.mb-l { margin-bottom: 80px;
  @media (max-width: $breakpoint-m){margin-bottom: 24px;}}
.mb-m { margin-bottom: 40px;
  @media (max-width: $breakpoint-m){margin-bottom: 16px;}}
.mb-s { margin-bottom: 24px;
  @media (max-width: $breakpoint-m){margin-bottom: 8px;}}
.mb-xs { margin-bottom: 16px;
  @media (max-width: $breakpoint-m){margin-bottom: 6px;}}
.mb-xxs { margin-bottom: 8px;
  @media (max-width: $breakpoint-m){margin-bottom: 4px;}}

.p-xl{ padding: 160px;
  @media (max-width: $breakpoint-m){padding: 32px;}}
.p-l{ padding: 80px;
  @media (max-width: $breakpoint-m){padding: 24px;}}
.p-m{ padding: 40px;
  @media (max-width: $breakpoint-m){padding: 16px;}}
.p-s{ padding: 24px;
  @media (max-width: $breakpoint-m){padding: 8px;}}
.p-xs{ padding: 16px;
  @media (max-width: $breakpoint-m){padding: 6px;}}
.p-xxs{ padding: 8px;
  @media (max-width: $breakpoint-m){padding: 4px;}}

.pt-xl{ padding-top: 160px;
  @media (max-width: $breakpoint-m){padding-top: 32px;}}
.pt-l{ padding-top: 80px;
  @media (max-width: $breakpoint-m){padding-top: 24px;}}
.pt-m{ padding-top: 40px;
  @media (max-width: $breakpoint-m){padding-top: 16px;}}
.pt-s{ padding-top: 24px;
  @media (max-width: $breakpoint-m){padding-top: 8px;}}
.pt-xs{ padding-top: 16px;
  @media (max-width: $breakpoint-m){padding-top: 6px;}}
.pt-xxs{ padding-top: 8px;
  @media (max-width: $breakpoint-m){padding-top: 4px;}}

.pb-xl{ padding-bottom: 160px;
  @media (max-width: $breakpoint-m){padding-bottom: 32px;}}
.pb-l { padding-bottom: 80px;
  @media (max-width: $breakpoint-m){padding-bottom: 24px;}}
.pb-m { padding-bottom: 40px;
  @media (max-width: $breakpoint-m){padding-bottom: 16px;}}
.pb-s { padding-bottom: 24px;
  @media (max-width: $breakpoint-m){padding-bottom: 8px;}}
.pb-xs { padding-bottom: 16px;
  @media (max-width: $breakpoint-m){padding-bottom: 6px;}}
.pb-xxs { padding-bottom: 8px;
  @media (max-width: $breakpoint-m){padding-bottom: 4px;}}

.no-m{
  margin: 0;
}
.no-p{
  padding: 0;
}




//Helpers
.inline {
  display: inline;
  align-items: center;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.text-center{
  text-align: center;
}
.centered{
  display: block;
  text-align: center;
}
.auto{
  margin: auto;
}
.flex{
  display:flex;
}
.flex-justify{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.v-center{
  align-content: center;
  display: grid;
}
.underline{
  text-decoration: underline;
}
.underline-hover{
  &:hover{
    text-decoration: underline;
  }
}
.no-b{
  border: none!important;
}

//Cards
.card-16{
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

//Images
.img-fit{
  width: 100%;
}

//Blocks
//LAYOUT
.block{
  width: 100%;
  padding: 120px 0 80px 0;
  @media (max-width: $breakpoint-m){
    padding: 40px 0;
  }
}


//Textured
.textured{
  background: var(--soft-dafault-color);
}
.textured::before, .textured::after{
    content: "";
    position: absolute;
    background-color: inherit;
    height: 18px;
    left: -3vw;
    -webkit-mask-image: url(/img/texture.svg);
    mask-image: url(/img/texture.svg);
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
    width: 150%;
    z-index: -1;
}
.textured::before {
    top: -18px;
    transform: rotate(180deg);
}
.textured::after {
      bottom: -18px;
}
