.videocard-cover{
  width:100%;
  height:200px;
  overflow: hidden;
  position: relative;
}
.videocard-cover-img{
  max-width: 100%;
}
.videocard-title{
  margin-top: 16px;
}
.videocard-description{

}
.videocard-cover img.play {
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
}
