.app-view-not-logged{
    height: 120vh;
    overflow-y: hidden;
}
.app-view-not-logged:before {
  content: '';
  width: 100%;
  height: calc(120vh - 80px);
  background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1000;
  position: absolute;
  top: 80px;
}
