.home_view{
    margin-top: 0!important;
    @media (max-width: $breakpoint-m) {
      margin-top: -32px;//@TODO ¿?
      padding-top: 40px;
      ~ .bottombar{
        display: none; //Hide BottomBar on homepage
      }
      .global{
        min-height: calc(100vh - 72px);
      }
      .logo-home{
        width: 140px;
      }
    }
}
.home-hero{
  padding: 140px 0 40px 0;
  @media (max-width: $breakpoint-m) {
    padding: 0;
  }
}
.main-title {
  font-size: 56px;
  line-height: 60px;
  padding: 0;
  margin-bottom: 24px;
  font-family: "Sharp Grotesk Medium", sans-serif;
  overflow-wrap: anywhere;
  @media (max-width: $breakpoint-m) {
    font-size: 40px;
  }
}
.main-image{
  width: 100%;
}

.scratch{
  position: relative;
  display: inline-block;
  color: #716a57;
  &:before{
    content: '';
    background-image: url(/icons/ic-scratch.svg);
    width: 100%;
    height: 32px;
    background-size: contain;
    position: absolute;
    left: -10px;
    top: 15px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.picture-main-image{
  display: block;
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 500px;
  top: -80px;
}
.main-image{
  width: 750px;
  left: -80px;
  position: absolute;
}



.top-1 {
  width: 70%;
  position: absolute;
  z-index: 10!important;
  right: 0;
  height: 100%;
}
.top-2 {
  position: absolute;
  top: 15%;
  width: 90%;
  height: 100%;
}
.line-home{
  position: absolute;
  z-index: 11;
}

//FX
.reveal, .reveal-bottom{
  display: block;
  //position: relative;
  z-index: 0;
  overflow: hidden;
}
.reveal::before{
  content: '';
  display: block;
  animation-name: reveal;
  animation-duration: 1.4s;
  z-index: 100;
  height: 100%;
  position: absolute;
  transition: all ease-in;
}
.reveal-bottom::before{
  background: var(--soft-grey-bg);
  width: 100%;
  content: '';
  display: block;
  animation-name: reveal-bottom;
  animation-duration: 1.4s;
  z-index: 100;
  height: 100%;
  position: absolute;
  transition: all ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.scale{
  animation-name: scale;
  animation-duration: 1.8s;
  transition: all ease-in;
}
@-webkit-keyframes reveal {
	from { width: 100%; }
	to { width: 0%; }
}

@keyframes reveal {
  from { width: 100%; }
	to { width: 0%; }
}

@-webkit-keyframes scale {
	from { transform: scale(1.2) }
	to { transform: scale(1) }
}

@keyframes scale {
  from { transform: scale(1.2) }
	to { transform: scale(1) }
}

@-webkit-keyframes reveal-bottom {
	from { height: 100%; }
	to { height: 0%; }
}

@keyframes reveal-bottom {
  from { height: 100%; }
	to { height: 0%; }
}
//THEMES
.home-gold, .reveal::before{
  background: var(--soft-dafault-color);
}
