.home_view{
    background: var(--soft-dafault-color);
    margin-top: 0!important;
    padding-top: 180px;
    @media (max-width: $breakpoint-m) {
      margin-top: -32px;
      padding-top: 80px;
    }
}
.main-title {
    font-size: 48px;
    line-height: 56px;
    padding: 0;
    margin-bottom: 24px;
    font-family: "Sharp Grotesk Medium", sans-serif;
    overflow-wrap: anywhere;
    @media (max-width: $breakpoint-m) {
      font-size: 40px;
    }
}
.picture-main-image{}
.main-image{
  width: 100%;
}

.scratch{
  position: relative;
  display: inline-block;
  color: #716a57;
  &:before{
    content: '';
    background-image: url(/icons/ic-scratch.svg);
    width: 222px;
    height: 32px;
    background-size: contain;
    position: absolute;
    left: -10px;
    top: 15px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
