.item_view ~ .bottombar{
  display: none;
}

.item_view{
  .grid{
    padding-bottom: 0;
    padding: 32px;
  }
}

.item-container{
  margin-bottom: 120px;
  display: inline-block;
}


.item-img{
  max-width: 100%;
}

.item-content{
  position:relative;
  height: 100%;
  flex-direction: column;
}
.item-content-top{
  height: calc(100% - 80px);//item-content-bottom height
}
.item-content-bottom {
  margin-top: 20px;
  bottom: 0;
  width: 100%;
}


.item-content .like{
  right: -8px;
  top: -16px;
}

.item-content .badge {
  margin-right: 8px;
}

.link-box{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 6px;
    border: 1px solid var(--border);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row;
    min-height: 60px;
    padding: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    &:hover{
      background: var(--soft-grey-bg);
    }
    .link-box-icon{
      width:24px;
    }
    .link-box-content{
      margin-left: 8px;
      span{
          display: flex;
      }
      span:nth-child(2){
        font-size: 14px;
        color: var(--grey);
        overflow-wrap: anywhere;
      }
    }
}

@media (max-width: $breakpoint-m){
  .app_wrapper.item_view {
    padding-bottom: 48px;
  }
  .item_view{
    .grid{
      padding: 0px;
      margin: 0 auto;
    }
  }

  .item-img{
    width: 180px;
    display: block;
    margin: 0 auto;
  }
  .item-wrapper{
    .item-container {
      margin-bottom: 0;
    }
    .card-16{
      box-shadow: 0 0 0 #fff;
      border-radius: 0;
    }
  }
  .item-content-bottom{
    position: relative;
  }
}

.is-liked-by{
  color: var(--grey);
  margin-bottom: 8px;
  font-size: 14px;
  svg{
    margin-right: 8px;
  }
  .is-liked-name{
    margin-right: 4px;
    text-transform: capitalize;
    font-size: 14px;
  }
  .is-liked-name:not(:last-child):after {
    content: ' ·';
  }
}
