.signup{
  background: var(--soft-brown-bg);
  padding-top: 40px;
}
.card-16{
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.content{
  background: #FFFFFF;
  padding: 56px 24px;
  max-width: 400px;
  margin: 0 auto;
  @extend .card-16;
}

form input{
  margin-bottom: 16px;
}
input{
    background: #fcfdfd;
    border-radius: 3px;
    border: 1px solid rgba(3,54,61,.25);
    box-shadow: none;
    color: rgba(17,51,56,.73);
    font: 16px/1;
    height: 50px;
    padding: 20px 15px;
    width: 100%;
}
label, .field-label {
  font-size: 13px;
  color: var(--dark-green);
}

.signupbtn{
  width: 100%;
  background: var(--interaction);
}
