@charset "UTF-8";
h1 {
  font-size: 62px;
  line-height: 76px;
  font-weight: lighter;
  padding: 0;
  margin: 32px 0;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

h6 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
}

p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

p.hero {
  font-size: 24px;
  line-height: 32px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 24px;
}

:root {
  --interaction-blue:#0000ff;
  --black:#181818;
  --default-color: #ead095;
  --magazine-color:#D1501A;
  --book-color:#35977E;
  --podcast-color:#E9B806;
  --article-color:#55808E;
  --brown:#f4f0eb;
  --cyan: #6afcee;
  --yellow:#ffd954;
  --purple:#7837e6;
  --orange:#fb7961;
  --soft_blue:#c6dcfd;
}

.is-revista {
  background-color: var(--magazine-color);
}

.is-libro {
  background-color: var(--book-color);
}

.is-podcast {
  background-color: var(--podcast-color);
}

.is-articulo {
  background-color: var(--article-color);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-cyan {
  background-color: var(--cyan);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-orange {
  background-color: var(--orange);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: apercu-pro, "Apercu Pro", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
}

main {
  position: relative;
  overflow: hidden;
}

.global {
  margin-top: 94px;
  min-height: calc(100vh - 193px);
}

.mt-xl {
  margin-top: 160px;
}

.mt-l {
  margin-top: 80px;
}

.mt-m {
  argin-top: 40px;
}

.mt-s {
  margin-top: 20px;
}

.container {
  position: relative;
  align-self: center;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-big {
  max-width: 1340px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 3em;
  padding-bottom: 40px;
}

.width-1\/12 {
  grid-column: span 1;
}

.width-2\/12 {
  grid-column: span 2;
}

.width-3\/12 {
  grid-column: span 3;
}

.width-4\/12 {
  grid-column: span 4;
}

.width-5\/12 {
  grid-column: span 5;
}

.width-6\/12 {
  grid-column: span 6;
}

.width-7\/12 {
  grid-column: span 7;
}

.width-8\/12 {
  grid-column: span 8;
}

.width-9\/12 {
  grid-column: span 9;
}

.width-10\/12 {
  grid-column: span 10;
}

.width-11\/12 {
  grid-column: span 11;
}

.width-12\/12 {
  grid-column: span 12;
}

@media (min-width: 48em) {
  .width-1\/12\@m {
    grid-column: span 1;
  }
}

@media (min-width: 48em) {
  .width-2\/12\@m {
    grid-column: span 2;
  }
}

@media (min-width: 48em) {
  .width-3\/12\@m {
    grid-column: span 3;
  }
}

@media (min-width: 48em) {
  .width-4\/12\@m {
    grid-column: span 4;
  }
}

@media (min-width: 48em) {
  .width-5\/12\@m {
    grid-column: span 5;
  }
}

@media (min-width: 48em) {
  .width-6\/12\@m {
    grid-column: span 6;
  }
}

@media (min-width: 48em) {
  .width-7\/12\@m {
    grid-column: span 7;
  }
}

@media (min-width: 48em) {
  .width-8\/12\@m {
    grid-column: span 8;
  }
}

@media (min-width: 48em) {
  .width-9\/12\@m {
    grid-column: span 9;
  }
}

@media (min-width: 48em) {
  .width-10\/12\@m {
    grid-column: span 10;
  }
}

@media (min-width: 48em) {
  .width-11\/12\@m {
    grid-column: span 11;
  }
}

@media (min-width: 48em) {
  .width-12\/12\@m {
    grid-column: span 12;
  }
}

a {
  color: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  background: transparent;
}

.arrow {
  font-weight: bold;
}

.arrow::after {
  content: "→";
  font-weight: lighter;
  margin: 0px 0px 0px 8px;
  transition: margin 0.2s ease 0s;
}

.arrow:hover::after {
  margin-left: 12px;
}

.button {
  height: 48px;
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--interaction-blue);
  border-width: 0;
  border-style: solid;
  border-color: var(--interaction-blue);
  border-radius: 2px;
  opacity: 1;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 48px;
}

.inline {
  display: inline;
  align-items: center;
}

.header {
  width: 100%;
  color: var(--black);
  position: relative;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 30px 40px;
  margin: 0 auto;
  z-index: 100;
  position: absolute;
}

.nav {
  display: inline-block;
  font-size: 18px;
  font-weight: 800;
  padding-top: 12px;
}

.menu li {
  display: inline-block;
  margin: 0 12px;
  cursor: pointer;
  position: relative;
  height: 40px;
  vertical-align: top;
}

.menu li:first-child {
  margin-left: 0;
}

.menu li div, .menu li a {
  vertical-align: top;
  display: inline-block;
}

.chevron {
  width: 10px;
  display: block;
  fill: #424241;
  flex-shrink: 0;
  backface-visibility: hidden;
  margin-left: 4px;
  margin-top: 1px;
  display: inline-block;
  margin-left: 8px;
}

div#dropdown-categorias {
  opacity: 0;
  pointer-events: none;
}

div#dropdown-temas {
  opacity: 0;
  pointer-events: none;
}

li#menuitem-categorias.hoverstate div#dropdown-categorias {
  opacity: 1;
  pointer-events: all;
}

li#menuitem-temas.hoverstate div#dropdown-temas {
  opacity: 1;
  pointer-events: all;
}

.drop-overlay {
  position: absolute;
  width: 200px;
  background: #fff;
  padding: 12px 0;
  border-radius: 2px;
  box-shadow: 0px 2px 6px 0px #00000014;
  top: 32px;
  left: 0;
  z-index: 10000;
  border: 1px solid #ececec;
  -webkit-transition: all 120ms ease-in 0s;
  transition: all 120ms ease-in 0s;
}

.drop-overlay li {
  cursor: pointer;
  list-style: none;
  height: 24px;
  padding: 4px 16px;
  font-weight: 500;
  font-size: 15px;
  display: block;
  margin: 0;
}

.drop-overlay li:hover {
  background-color: #ececec;
}

.drop-overlay a {
  display: inline-block;
  width: 100%;
}

.form {
  display: inline-block;
  float: right;
}

.email-form {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.email-form__input {
  width: 100%;
  outline: 0;
  border: 2px solid;
  color: var(--black);
  border-radius: 6px 0px 0px 6px;
  font-size: 15px;
  line-height: unset;
  padding: 6px 14px;
  min-width: 240px;
  height: 34px;
}

.email-form__submit {
  min-width: 186px;
  background-color: var(--black);
  border: 2px solid var(--black);
  color: #fff;
  display: inline-block;
  border-radius: 0 6px 6px 0;
  padding: 9px 21px;
  text-decoration: none;
  text-align: center;
  transition: all .2s;
  cursor: pointer;
  flex-shrink: 0;
  font-weight: 700;
  position: relative;
  height: 34px;
  font-size: 14px;
  line-height: 0;
}

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  width: 100%;
  background-color: var(--brown);
  color: inherit;
  padding: 40px 0px 80px 0px;
  overflow: hidden;
  margin-bottom: 80px;
  background-image: url(/img/dot-1.svg);
  background-size: 70%;
  background-position: 170% 60%;
  background-repeat: no-repeat;
}

.block {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2.6%;
  margin: 0px auto;
  column-gap: 32px;
}

.block-left {
  max-width: 555px;
  padding-top: 20px;
  grid-column: 1 / span 8;
}

.block-right {
  margin-top: 0px;
  grid-column: 9 / span 12;
}

.bg-styled {
  max-width: 600px;
  top: 50px;
  position: absolute;
}

.footer {
  width: 100%;
  padding: 40px 0px;
  background: var(--black);
  color: #fff;
}

.footer .container {
  max-width: 800px;
}

.footnote {
  font-size: 14px;
  -webkit-letter-spacing: 0.02em;
  -moz-letter-spacing: 0.02em;
  -ms-letter-spacing: 0.02em;
  letter-spacing: 0.02em;
  line-height: 1.4;
}

.block-title {
  text-transform: capitalize;
}

.lines {
  position: absolute;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  right: -100px;
  bottom: 0px;
  z-index: -1;
  top: 0;
}

.grid-card {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card:first-of-type {
  grid-column: 1/span 6;
  grid-row: 1/span 2;
  order: 1;
}

.card {
  display: flex;
  margin: 20px;
  color: var(--black);
  border-radius: 3px;
  transition: .2s ease-out;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  transform-origin: 0 50%;
  transform: perspective(1000px) rotateY(0deg) translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform,box-shadow;
  width: 284px;
  height: 410px;
  max-height: calc(110vw - 40px);
  background-size: cover;
  background-position: center top;
}

.card:hover {
  transform: perspective(1000px) rotateY(-10deg) translate3d(-3px, 0, 0);
  transform-origin: 0 50%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.card-content {
  transition: .2s ease-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .2s ease-out;
  padding: 24px;
  background-color: var(--default-color);
}

.card-content:hover {
  transition: .2s ease-out;
  opacity: 1;
}

.card-title {
  text-transform: capitalize;
  margin: 8px 0;
}

.card-topics {
  margin-top: 16px;
  font-size: 13px;
}

.card-topics a {
  margin-right: 6px;
}

.card-topics a:hover {
  text-decoration: underline;
}

.card-contributor {
  bottom: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contributor-image {
  width: 32px;
  margin-right: 8px;
}

.contributor-name {
  font-size: 14px;
  font-weight: 500;
}

.contributor-description {
  font-size: 13px;
  font-weight: 100;
}

.badge {
  padding: 2px 8px;
  border-radius: 4px;
  background-color: var(--soft_blue);
  color: var(--black);
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
  display: inline;
}

.GridColection {
  background: #e8e0cc;
  padding: 80px 0;
}

.collection-card {
  height: 300px;
  border-radius: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
  background-color: #f9f9f9;
  transition: all .2s ease;
  background-size: auto;
  padding: 56px 10% 0;
  position: relative;
}

.collection-card:hover {
  transform: scale(1.03);
  transition: all .2s ease;
}

.collection-card__title-container {
  height: 50%;
}

.collection-card__title {
  font-weight: 700;
}

.collection-card__number {
  position: absolute;
  bottom: 32px;
}

.collection-card:first-of-type {
  background-image: url(/img/line-4.svg), url(/img/dot-2.svg);
  background-size: auto, 60%;
  background-position: center, -40% -100%;
}

.collection-card:nth-of-type(2) {
  background-image: url(/img/line-2.svg), url(/img/dot-3.svg);
  background-size: cover;
}

.collection-card:nth-of-type(3) {
  background-image: url(/img/line.svg), url(/img/line.svg), url(/img/dot-1.svg);
  background-size: auto,cover, 120%;
  background-position: center, bottom, -100%;
}

.collection-card:nth-of-type(4) {
  background-image: url(/img/line-2.svg), url(/img/dot-6.svg);
  background-size: auto, 30%;
  background-position: center,bottom;
}

.collection-card:nth-of-type(5) {
  background-image: url(/img/line-3.svg), url(/img/dot-5.svg);
  background-size: cover, 90%;
  background-position: center, 30% -50%;
}

.TopicCollection {
  background-image: url(/img/line-4.svg), url(/img/dot-2.svg);
  background-size: auto, 30%;
  background-position: 110%, 0 -10%;
  background-repeat: no-repeat;
}

.TopicCollection .grid {
  grid-gap: 1em;
}

.TopicCollection .container {
  max-width: 800px;
}

a.topic-card {
  margin: 0;
  padding: 8px 16px;
  border-radius: 4px;
}

a.topic-card:hover {
  background: #f9f9f9;
}

.Promocard {
  background: #ead095;
  border-radius: 16px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
  transition: all .2s ease;
  background-size: auto;
  padding: 56px;
  position: relative;
}

.Promocard .button {
  width: 100%;
  text-align: center;
}
